{% extends 'base/base.html' %}
{% load static %}

{% block title %}Productos Pedido{% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}
{% block img_bg %} class= "fondo" style="background-image:url({% static 'img/background/img-home2.jpg' %}); background-repeat: no-repeat;" {% endblock %}
{% block content %}
<div class="container h-100">
    <div class="row w-100">
        <div class="col-6">
            <h1 style="margin-bottom: 15px; color:white;"><b>Productos del Pedido </b></h1>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data" class="formulario">
        {% csrf_token %}
        <div hidden>
            {{form}}
        </div>
        <a class="btn btn-primary" style="margin-bottom: 7px; color:white" href="/pedido/agregar/{{idProveedor}}/productos/{{idPedido}}/">Agregar Producto</a>
        <button class="btn btn-success" style="margin-bottom: 7px;" type= "submit" onclick="setMontoTotal({{montoTotal}})">Finalizar Pedido</button>
    </form>
    <div class="row justify-content-center">
        <section class="w-100" style="">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped table-dark text-light mb-0 table-style">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 55px;"><b>ID</b></th>	
                            <th><b>CANTIDAD</b></th>
                            <th><b>NOMBRE PRODUCTO</b></th>
                            <th><b>ACCIONES</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if productos_pedido %}
                            {% for pd in productos_pedido %}
                                {% if user.groups.all.0|upper == 'EMPLEADO BODEGA' %}
                                    <tr>
                                        <td>{{ pd.id }}</td>
                                        <td>{{ pd.cantidad }}</td>
                                        <td>{{ pd.fk_id_producto }}</td>
                                        <td>
                                            <a class="btn btn-success" href="/pedido/listado-productos/{{idPedido}}/modificar/{{pd.id}}/">Modificar</a>
                                            <a class="btn btn-danger" style="width: 93px" href="/pedido/listado-productos/{{idPedido}}/eliminar/{{pd.id}}/">Eliminar</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        <h1>No hay registros de pedido</h1>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% if user.groups.all.0|upper == "EMPLEADO BODEGA" %}
                
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    function setMontoTotal(montoTotal) {
        document.getElementById("id_monto_total").value = montoTotal;
        console.log(montoTotal);
    }
</script>
{% endblock%}