
{% extends 'base/base.html' %}
{% load static %}

{% block title %}Productos Pedido{% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-home2.jpg' %})" {% endblock %}
{% block content %}
<div class="container h-100">
  <div class="row justify-content-center h-100">
    <div class="col-sm-8 align-self-center text-center">  
      <section>
          <div class="card border-dark mb-3">
            <div class="card-header">
              <h1>Editar Producto del Pedido</h1>
            </div>
            <div class="card-body">    
              <form method="POST" enctype="multipart/form-data" class="formulario">
                    <div class="formulario">
                        {% csrf_token %}
                        <div class="formulario-productos_pedido">
                            {{ form.as_p }}
                        </div>
                        <a class="btn btn-dark" href="/pedido/listado-productos/{{idPedido}}/">Volver</a>
                        <button class="btn btn-success" type="submit">Editar</button>
                    </div>
                </form>
            </div>
          </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script>
     $('#id_fk_id_pedido').attr('disabled', 'disabled');
     
</script>
{% endblock%}