
{% extends 'base/base.html' %}
{% load static %}

{% block title %}Pedido{% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-home2.jpg' %})" {% endblock %}
{% block content %}
<div class="container h-100">
  <div class="row justify-content-center h-100">
    <div class="col-sm-8 align-self-center text-center">  
      <section>
          <div class="card border-dark mb-3">
            <div class="card-header">
              <h1>Editar Pedido</h1>
            </div>
            <div class="card-body">    
              <form method="POST" enctype="multipart/form-data" class="formulario">
                    <div class="formulario">
                        {% csrf_token %}
                        <h2>¿El pedido fue recibido correctamente?</h2>
                        <div hidden>
                            {{form.as_p}}
                        </div>
                        <input class="form-control" id="estado" type="text" name="estado" value="recibido" hidden>
                        <br>
                        <a class="btn btn-dark" href="/pedido/listar/">Volver</a>
                        <button class="btn btn-success" type="submit">Aceptar</button>
                    </div>
                </form>
            </div>
          </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}