.navbar-position {
    align-items: center;
    justify-content: center;
}
.table, th, td {
    border: 3px solid black;
    background-color: #BCA993;
    color: black;
}
.thtable td {
    padding: 10px;
}
#tabla_pandas td {
    padding: 10px;
}
.tbtable td{
    vertical-align: middle;
}
.table-button{
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: unset;
    width: 98px;
    padding: 10px 18px 11px !important;
    color: black;
    opacity: 0.5;
    background-color: white;
}
.reserva-button{
    border: 2px solid black;
    float: left;
    padding: 9px 10px 11px !important;
    background-color: white;
    opacity: 0.5;
    color: black;
}