.navbar-position {
  align-items: center;
  justify-content: center;
}
.table,
th,
td {
  border: 3px solid black;
  background-color: #bca993;
  color: black;
}
.thtable td {
  padding: 10px;
}
#tabla_pandas td {
  padding: 10px;
}
.tbtable td {
  vertical-align: middle;
}
.table-button {
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: unset;
  width: 98px;
  padding: 10px 18px 11px !important;
  color: black;
  opacity: 0.5;
  background-color: white;
}
.reserva-button {
  border: 2px solid black;
  float: left;
  padding: 9px 10px 11px !important;
  background-color: white;
  opacity: 0.5;
  color: black;
}
.paginacion {
  margin: 20px 0;
}

.paginacion ul {
  list-style: none;
  text-align: center;
}

.paginacion ul li {
  display: inline-block;
  margin-right: 10px;
}

.paginacion ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  background: #024959;
  text-decoration: none;
}

.paginacion ul li a:hover {
  background: #037e8c;
}

.paginacion ul li .active {
  background: #037e8c;
  font-weight: bold;
}
.login {
  color: white;
}

.login h1 {
  font-size: 40px;
  color: white;
}

.login label {
  font-size: 20px;
}

.login a {
  font-size: 15px;
}

.login input {
  font-size: 18px;
  text-align: center !important;
}

#form_wrap {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

#reset-pass {
  color: white;
}