{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<section class="slide fade-6 kenBurns">
{% for contenido in contenidos %}

    <div class="content">
      <div class="container">
        <div class="wrap">
        
          <div class="fix-12-12">
            <ul class="flex fixedSpaces verticalCenter reverse">
              <li class="col-6-12 left middle">
                <h1 class="ae-1 fromLeft">{{ contenido.nombre }}</h1>
                <p class="ae-2 fromLeft"><span class="opacity-8">{{ contenido.contenido }}</span></p>
                <a class="button blue gradient ae-3 fromCenter cropLeft">Ver Mas</a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
{% endfor %}
<div class="background" style="background-image:url({% static 'img/background/img-home2.jpg' %})"></div>
</section>

{% endblock %}