{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-login.jpg' %})" {% endblock %}
{% block content %}
<div class="p-5">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="margin-left: 10%; margin-right: 10%;">
    <div class="carousel-inner" role="listbox">
      {% if contenidos %}
      {% for contenido in contenidos %}
      <div class="carousel-item {% if forloop.first %}  active  {% endif %}">
        <img class="img-fluid" src="{% static 'img/background/img-home2.jpg' %}">
        <div class="carousel-caption d-none d-md-block bg-light text-dark">
          <h3>{{ contenido.nombre }}</h3>
          <p>{{ contenido.contenido }}</p>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="carousel-item active">
        <img class="img-fluid" src="{% static 'img/background/img-home2.jpg' %}">
        <div class="carousel-caption">
          <h3>Error</h3>
          <p>No hay contenido por el momento, Intente Mas Tarde.</p>
        </div>
      </div>
      {% endif %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endblock %}