{% extends 'base/base.html' %}
{% load static %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-qsomos.jpg' %})" {% endblock %}

{% block content %}
<div class="container h-100">
  <div class="row justify-content-center h-100">
    <div class="align-self-center text-center">  
      <section>
        <div class= "row">
          <div class="col-6">
            <img src="{% static '/img/Señora Clarita.jpg' %}" alt="Señora Clarita" width="430" height="475">
          </div>
          <div class="col-6">
            <div class="card border-dark mb-3">
              <div class="card-header">
                <h1><b>¿Quienes somos?</b></h1>
              </div>
              <div class="card-body">
                <p><i>
                    El Hostal Clarita ofrece vistas a la montaña, WiFi gratuita y aparcamiento privado gratuito y se encuentra en Puerto Natales, a 300 metros de la estación de autobuses de Puerto Natales.<br><br>
                    Todos los alojamientos disponen de patio con vistas a la ciudad, TV por cable, zona de comedor, zona de cocina bien equipada y baño compartido con bañera o ducha. El establecimiento proporciona toallas y ropa de cama por un suplemento.<br><br>
                    Este establecimiento sirve menus Ejecutivo, General, Especial y Vegano.<br><br>
                    Cerca del Hostal Clarita hay lugares de interés como la plaza Yungay, el pueblo artesanal Ether Aike y el Museo Municipal de Historia.<br><br>
                </i></p>
              </div>
            </div>
          <div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}