{% extends 'base/base.html' %}
{% load static %}

{% block title %}Cocina Listar{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block img_bg %} style="background-image:url({% static 'img/background/img-cocina.jpg' %})" {% endblock %}

{% block content %}
<div class="pt-5">
    <div class="div px-5 pt-5" role="group">
        {% if user.groups.all.0|upper == 'GERENTE COCINA' or user.groups.all.0|upper == 'ADMINISTRADOR' or user.is_superuser%}
        <a class="btn btn-primary" target="_blank" href="/comedor/agregar">
            <img src="{% static 'img/icono-agregar.png' %}" alt="Agregar Menu" width="30px" height="30px"><br>
            Agregar Menu
        </a>
        <a class="btn btn-primary" target="_blank" href="/media/Menu/minuta_base.xlsx">
            <img src="{% static 'img/icono-descargar.png' %}" alt="Descargar Nueva Minuta" width="30px"
                height="30px"><br>
            Nueva Minuta
        </a>
        {% endif %}
        <a class="btn btn-primary text-light float-right" role="button" data-toggle="modal" data-target="#ayudaModal">
            <img src="{% static 'img/icono-help.png' %}" alt="Ayuda" width="30px" height="30px"><br>
            Ayuda
        </a>        
    </div>
    <div class="table-responsive px-5 pt-2">
        <table class="table table-striped table-dark text-light">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">TIPO MENU</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col">ADJUNTO MINUTA</th>
                    {% if user.groups.all.0|upper == 'GERENTE COCINA' or user.groups.all.0|upper == 'ADMINISTRADOR' or user.is_superuser%}
                    <th scope="col">ACCIÓN</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if menus %}
                {% for menu in menus %}
                <tr>
                    <td>{{ menu.id }}</td>
                    <td>{{ menu.tipo_menu }}</td>
                    <td>{{ menu.precio }}</td>
                    {% if menu.documento_menu %}
                    <td><a class="btn btn-primary" target="_blank" href="/comedor/adjunto/{{ menu.id }}">Ver.</a>
                    </td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                    {% if user.groups.all.0|upper == 'GERENTE COCINA' or user.groups.all.0|upper == 'ADMINISTRADOR' or user.is_superuser%}
                    <td>
                        <a class="btn btn-primary" href="/comedor/editar/{{ menu.id }}" role="button">Editar</a>
                        <a class="btn btn-danger" href="/comedor/eliminar/{{ menu.id }}"
                            onclick="return confirm('¿Esta seguro de borrar?');" role="button">Eliminar</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <h1>No hay registros de Menus</h1>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="ayudaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ayuda:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if user.groups.all.0|upper == 'GERENTE COCINA' or user.groups.all.0|upper == 'ADMINISTRADOR' or user.is_superuser%}
                <p>- Desde esta ventana puede administrar los menús registrados:</p>
                <p>- El botón de 'Descargar Nueva Minuta' descargara una minuta vacía, necesaria si desea
                    agregar una nueva minuta o
                    editar la minuta de un Menú ya existente.</p>
                <p>- Para agregar un nuevo menú presione el botón de 'Agregar Menú' y rellene el formulario.
                </p>
                <p>- Para editar un menú presione el link de editar correspondiente al registro que desee
                    editar.</p>
                <p> - Para eliminar un menú presione el link de eliminar correspondiente al registro, para
                    este paso hace falta aceptar el mensaje de confirmación.</p>
                {% elif  user.groups.all.0|upper == "CLIENTE" %}
                <p>- Desde Esta Ventana Puedes Ver Los Menus disponibles</p>
                <p>- Si el menu tiene un Adjunto Minuta, puedes ver dicha minuta apretando "Ver."</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Texto Para el Modal
    Ayuda:
    - Desde esta ventana puede administrar los menús registrados
    - el botón de 'Descargar Nueva Minuta' descargara una minuta vacía, necesaria si desea agregar una nueva minuta, 
    editar la minuta de un Menú ya existente
    - para agregar un nuevo menú presione el botón de 'Agregar Menú' y rellene el formulario
    - para editar un menú presione el link de editar correspondiente al registro que desee editar
    - para eliminar un menú presione el link de eliminar correspondiente al registro, para este paso hace falta
    aceptar el mensaje de confirmación
 -->