{% extends 'base/base.html' %}
{% load static %}

{% block title %}Cocina Adjunto{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="wrap">
      <form target="_blank" action="{{ path }}">
        <input style="float:right" type="submit" value="Descargar Esta Minuta" />
      </form>
      <div class="table-responsive">
        {{ tabla|safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}