{% extends 'base/base.html' %}
{% load static %}

{% block title %}Cocina Adjunto{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block img_bg %} style="background-image:url({% static 'img/background/img-cocina.jpg' %})" {% endblock %}

{% block content %}
<div class="pt-5">
  <div class="pr-5">
    <a class="btn btn-primary float-right" target="_blank" href="{{ path }}">
      <img src="{% static 'img/icono-descargar.png' %}" alt="Descargar Minuta" width="30px"
        height="30px"><br>
      Descargar Minuta
    </a>
  </div>

  <div class="table-responsive px-5 pt-2">
    {{ tabla|safe }}
  </div>
</div>
{% endblock %}