{% extends 'base/base.html' %}
{% load static %}

{% block title %}Cocina Agregar{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block img_bg %} style="background-image:url({% static 'img/background/img-cocina.jpg' %})" {% endblock %}

{% block content %}
<div id="form_wrap" class="bg-dark pt-5">
    <form method="POST" class="text-light" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="text-center pt-2">Agregar Menu</h1>
        <div class="form-group p-5">
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Agregar</button>
            <a class="btn btn-secondary float-right" target="_blank" href="/media/Menu/minuta_base.xlsx">
                <img src="{% static 'img/icono-descargar.png' %}" alt="Descargar Nueva Minuta" width="30px"
                    height="30px"><br>
                Nueva Minuta
            </a>
        </div>
    </form>
</div>
{% endblock %}