{% extends 'base/base.html' %}
{% load static %}

{% block title %}Cocina Agregar{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit" >Editar</button>
</form>
<form target="_blank" action="/media/Menu/minuta_base.xlsx">
    <input style="float:right" type="submit" value="Descargar Nueva Minuta" />
</form>
{% endblock %}