{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{tipo}} Tipo{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block img_bg %} style="background-image:url({% static 'img/background/img-cocina.jpg' %})" {% endblock %}

{% block content %}
<div id="form_wrap" class="bg-dark pt-5">
    <form method="POST" class="text-light" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="text-center pt-2">{{tipo}} Tipo Producto</h1>
        <div class="form-group p-5">
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">{{tipo}}</button>
            <a class="btn btn-danger px-2 float-right" href="/producto/agregar" >
                Volver
            </a>
        </div>
    </form>
</div>
{% endblock %}