{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reset{% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-qsomos.jpg' %})" {% endblock %}

{% block content %}

<form method="post" class="d-flex justify-content-center align-items-center h-720 flex-column" id="form_rest" style="height: 720px">
	{% csrf_token %}
	<h3 style="color: white;">Reporte de Pedidos</h3>
	<div style="max-height: 720px; overflow-y: scroll;">
        <table class="table table-bordered table-striped table-dark text-light mb-0 table-style">
			<thead>
				<tr class="linea1">
					<td>Pedido</td>	
					<td>Producto</td>
					<td>Cantidad</td>
					<td>Precio</td>
				</tr>
			</thead>
			<tbody>
				{% if prodped %}

				{% for pp in prodped %}
				<tr class="linea_producto">
					<td>{{ pp.fk_id_pedido.id }}</td>	
					<td>{{ pp.fk_id_producto.nombre }}</td>
					<td>{{ pp.cantidad }}</td>	
					<td>{{ pp.fk_id_producto.precio }}</td>
				</tr>
				{% endfor %}
				
				{% else %}
				<h1>No hay registros de facturas por el momento</h1>
				{% endif %}
			</tbody>
		</table>
	</div>
    <div class="row mt-2">
        <a class="btn btn-secondary mr-5" href="/informe/crear">volver</a>
        <a class="btn btn-primary" href="/informe/ExcelPed">Exportar a Excel</a>
	</div>
</form>

{% endblock %}