{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reset{% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-qsomos.jpg' %})" {% endblock %}

{% block content %}

<form method="post" class="d-flex justify-content-center align-items-center h-720 flex-column" id="form_rest" style="height: 720px">
	{% csrf_token %}
	<h3 style="color: white;">Reporte de Facturas</h3>
	<div style="max-height: 720px; overflow-y: scroll;">
        <table class="table table-bordered table-striped table-dark text-light mb-0 table-style">
			<thead>
				<tr class="linea1">
					<td>RUT Cliente</td>	
					<td>Desde</td>
					<td>Hasta</td>
					<td>Valor Dia</td>
				</tr>
			</thead>
			<tbody>
				{% if facturas %}

				{% for f in facturas %}
				<tr class="linea_producto">
					<td>{{ f.fk_id_orden_compra.fk_id_reserva.fk_id_empresa.rut }}</td>
					<td>{{ f.fk_id_orden_compra.fk_id_reserva.fecha_inicio }}</td>
					<td>{{ f.fk_id_orden_compra.fk_id_reserva.fecha_termino }}</td>
					<td>{{ f.fk_id_orden_compra.monto_pago }}</td>
				</tr>
				{% endfor %}
				
				{% else %}
				<h1>No hay registros de facturas por el momento</h1>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="row mt-2">
        <a class="btn btn-secondary mr-5" href="/informe/crear">volver</a>
        <a class="btn btn-primary" href="/informe/ExcelFac">Exportar a Excel</a>
	</div>
</form>

{% endblock %}