{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reserva{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block img_bg %} style="background-image:url({% static 'img/background/img-cocina.jpg' %})" {% endblock %}

{% block content %}
<div id="form_wrap" class="bg-dark pt-5">
    <form method="POST" class="text-light">
        {% csrf_token %}
        <h1 class="text-center pt-2">Realizar Reserva</h1>
        <p class="text-center pt-2">Seleccione fecha de inicio y termino de la reserva que desea realizar</p>
        <div class="form-group p-3">
            {% for field in form %}
            {{ field.label_tag }}
            <div class="form-row p-2">
                {{ field }}
            </div>
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            <p class="text-center pt-2 text-success">Habitaciones Disponibles Para Esta Fecha: {{cant_hab}}</p>
            <button class="btn btn-primary" type="submit" name="_revisar">Revisar Disponibilidad</button>
            <button class="btn btn-primary" type="submit" name="_Continuar">Continuar</button>
        </div>
    </form>
</div>
{% endblock %}