{% extends 'base/base.html' %}
{% load static %}

{% block title %}Editar Producto A La Solicitud{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block img_bg %} style="background-image:url({% static 'img/background/img-cocina.jpg' %})" {% endblock %}

{% block content %}
<div id="form_wrap" class="bg-dark pt-5">
    <form method="POST" class="text-light">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <h1 class="text-center pt-2">Editar Producto</h1>
        <div class="form-group p-5">
            {% for field in form %}
            {{ field.label_tag }}
            <div class="text-danger">
                {{ field.errors }}
            </div>
            <div class="form-row p-1">
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Agregar</button>
            <a class="btn btn-danger px-2 float-right" href="{{ request.GET.next }}" >
                Volver
            </a>
        </div>
    </form>
</div>
{% endblock %}