
{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reservas{% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-home2.jpg' %})" {% endblock %}
{% block content %}
<div class="container h-100">
  <div class="row justify-content-center h-100">
    <div class="col-sm-8 align-self-center text-center">  
      <section>
          <div class="card border-dark mb-3">
            <div class="card-header">
              <h3>Realizar Pago</h3>	
            </div> 
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="table-wrapper-scroll-y">
                  <table class="table table-bordered table-striped table-dark text-light mb-0 table-style">
                    <thead class="thead-dark">
                        <tr>
                            <th><b>SERVICIOS</b></th>	
                            <th><b>VALOR EN PESOS</b></th>
                            <th><b>DOLARES</b></th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for orden in orden_compras %}
                        <h4>Titular Reserva: {{orden.fk_id_reserva.fk_id_empresa.nombre|title}}</h4>
                        <br>
                        {% for servicio_reserva in servicios_reservas %}
                          <tr>
                            <td>{{servicio_reserva.fk_id_servicio.nombre}}</td>
                            <td>${{servicio_reserva.fk_id_servicio.precio}}</td>
                            <td>${% widthratio servicio_reserva.fk_id_servicio.precio 750 1 %}</td>
                          </tr>
                        {% endfor %}
                        
                        {% for habitacion_reserva in habitaciones_reserva %}
                          <tr>
                            <td>TIPO CAMA - {{habitacion_reserva.fk_id_habitaciones.tipo_cama|upper}} </td> 
                            <td>${{habitacion_reserva.fk_id_habitaciones.precio}}</td>       
                            <td>${% widthratio habitacion_reserva.fk_id_habitaciones.precio 750 1 %}</td>       
                          </tr>
                        {% endfor %}
                        <tr>
                          <td>TOTAL</td>
                          <td>${{orden.monto_pago}}</td>
                          <td>${% widthratio orden.monto_pago 750 1 %}</td>       
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <br>
                  <form method="POST" class="formulario" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for orden in orden_compras %}
                      <input class="form-control" id="rut_empresa" type="text" name="rut_empresa" value="{{ orden.fk_id_reserva.fk_id_empresa.rut }}" hidden>
                      <input class="form-control" id="fk_id_orden_compra" type="text" name="fk_id_orden_compra" value="{{ orden.id }}" hidden>
                    {% endfor %}
                    <a class="btn btn-secondary" href="/reserva/ver-estado-reserva/{{idReserva}}/" style="width:100px;">Volver</a>&nbsp&nbsp&nbsp&nbsp
                    <button class="btn btn-success" type="submit" style="width:100px;">Pagar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>
  </div>
</div>
{% endblock  %}