{% extends 'base/base.html' %}
{% load static %}

{% block title %}Habitación{% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}}

{% block content %}
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-12-12">
            <h1>Reservar Habitación</h1>
            <table class="table table-responsive">
                <thead>
                    <tr class = "thtable">
                        <td><b>NUMERO HABITACIÓN</b></td>
                        <td><b>TIPO CAMA</b></td>
                        <td><b>ACCESORIOS</b></td>
                        <td><b>PRECIO</b></td>
                        <td><b>ESTADO</b></td>
                        <td><b>ACCIÓN</b></td>
                    </tr>
                </thead>
                <tbody>
                    {% if habitaciones %}
                        {% for habitacion in habitaciones %}
                        <tr class = "tbtable">
                            <td>{{ habitacion.numero_habitacion }}</td>
                            <td>{{ habitacion.tipo_cama }}</td>
                            <td>{{ habitacion.accesorios }}</td>
                            <td>{{ habitacion.precio }}</td>
                            <td>{{ habitacion.estado }}</td>
                            <td>
                                <a class="button table-button" href="/editar/{{reserva.id}}/">Reservar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <h1>No hay habitaciones disponibles</h1>
                    {% endif %}
                </tbody>
            </table>
            <section class="paginacion">
                <ul>
                <li><a>1</a></li>
                <li><a class="active">2</a></li>
                <li><a>3</a></li>
                </ul>
            </section>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url({% static 'img/background/img-registro.jpg' %})"></div>
</section>
{% endblock %}