{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reservas{% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<section class="slide fade-6 kenBurns">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12">
                    <a class="button reserva-button" style="width:180px" href="/reserva/realizar-reserva/">
                        <img src="{% static 'img/icono-agregar.png' %}" alt="Add-Reserva" width="30px" height="30px"><br>
                        Agregar Reserva
                    </a>
                    <table class="table table-responsive">
                        <thead>
                            <tr class = "thtable">
                                <td style="width: 55px;"><b>ID</b></td>	
                                <td><b>FECHA INICIO</b></td>
                                <td><b>FECHA TERMINO</b></td>
                                <td><b>POSEE PLANTILLA</b></td>
                                <td><b>ACCIÓN</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if reservas %}
                                {% for reserva in reservas %}
                                <tr class = "tbtable">
                                    <td>{{ reserva.id }}</td>
                                    <td>{{ reserva.fecha_inicio }}</td>
                                    <td>{{ reserva.fecha_termino }}</td>
                                    {% if reserva.plantilla_huespedes %}
                                        <td>Si</td>
                                    {% else %}
                                        <td>No</td>
                                    {% endif %}
                                    <td>
                                        <a class="button table-button" href="/editar/{{reserva.id}}/">Editar</a>
                                        <a class="button table-button" href="/cancelar/{{reserva.id}}/">Cancelar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                            <h1>No hay registros de productos</h1>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url({% static 'img/background/img-home2.jpg' %})"></div>
</section>
{% endblock %}