{% extends 'base/base.html' %}
{% load static %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-login.jpg' %})" {% endblock %}
{% block content %}
<form method="post" class="formulario" id="formulario_log_in">
	{% csrf_token %}
    <section class="slide fade-6">
        <div class="content">
            <div class="container">
                <div class="wrap">
                    <div class="fix-12-12 login">
                        <form method="post">
                            <h1>Iniciar Sesión</h1>
                            <div class="form-group">
                                <label for="username">Nombre de usuario:</label>
                                <input class="form-control" type="text" name="username">
                            </div>
                            <div class="form-group">
                                <label for="username">Contraseña:</label>
                                <input class="form-control" type="password" name="password">
                            </div>
                            <br>
                            <div class="form-group">
                                <input class="btn btn-dark" type="submit" value="Ingresar">
                            </div>
                            <a style="color: white;" href="/password_reset/">Olvidé mi contraseña</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form> 
{% endblock %}