{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reset{% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-login.jpg' %})" {% endblock %}

{% block content %}

	<section class="d-flex justify-content-center align-items-center" style="height: 720px">
		<div id="reset-pass" class="d-block col-5">
			<h3 class="text-center">Su contraseña se reestableció correctamente</h3>
			<p class="text-center"><a  href="{% url 'login' %}">Iniciar sesión</a></p>
		</div>
	</section>

{% endblock %}