{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reset{% endblock %}

{% block content %}

<section class="slide fade-6 kenBurns">
	<div class="content">
		<div class="container">
			<div class="wrap">
				<div class="fix-12-12">
					<h1 class="text-center">Su contraseña se reestableció correctamente</h1>
					<p class="text-center"><a  href="{% url 'login' %}">Iniciar sesión</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="background" style="background-image:url({% static 'img/background/img-login.jpg' %});"></div>
</section>

{% endblock %}