{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reset{% endblock %}

{% block content %}
{% if validlink %}


<form method="post">
    {% csrf_token %}
    <section class="slide fade-6 kenBurns">
        <div class="content">
            <div class="container">
                <div class="wrap">
                    <div class="fix-12-12">
                        <h1>Nueva contraseña</h1>
                        <div class="form-row" id="linea1">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                    {{ form.new_password1.errors }}
                                    <label for="id_new_password1">Nueva contraseña:</label>{{ form.new_password1 }}
                                </div>
                            </div>
                        </div>   
                        <div class="form-row" id="linea1">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                    {{ form.new_password2.errors }}
                                    <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
                                </div>
                            </div>
                        </div>   
                        <div class="form-row" id="linea1">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                    <input type="submit" value="Cambiar mi contraseña" />
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="background" style="background-image:url({% static 'img/background/img-login.jpg' %});"></div>
    </section>
</form>

{% else %}

<section class="slide fade-6 kenBurns">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12">
                    <h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url({% static 'img/background/img-login.jpg' %});"></div>
</section>

{% endif %}

{% endblock %}