{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reset{% endblock %}
{% block content %}

<form method="post" class="formulario" id="form_rest">
    {% csrf_token %}
    <section class="slide fade-6 kenBurns">
        <div class="content">
            <div class="container">
                <div class="wrap">
                    <div class="fix-12-12">
                        <h3>Recuperar contraseña</h3>
                        <p><label for="id_email">Correo:</label> {{ form.email }}</p> 
                        <input type="submit" value="Enviar"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="background" style="background-image:url({% static 'img/background/img-login.jpg' %});"></div>
    </section>
</form>

{% endblock %}