{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reset{% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-login.jpg' %})" {% endblock %}

{% block content %}

	{% if validlink %}

			<form method="post" class="d-flex justify-content-center align-items-center" style="height: 720px">
					{% csrf_token %}
					<div id="reset-pass" class="d-block col-5">
							<h3>Nueva contraseña</h3>
							<div class="row">
									<label for="new_pass">Nueva contraseña:</label> 
									<input class="form-control" type="password" name="new_password1">
							</div>
							{{ form.new_password1.errors }}
							<div class="row">
									<label for="new_pass">Confirme contraseña:</label> 
									<input class="form-control" type="password" name="new_password2">
							</div>
							{{ form.new_password2.errors }}
							<input class="btn btn-light mt-3" type="submit"  value="Cambiar mi contraseña">
					</div>
			</form>

	{% else %}

		<section class="d-flex justify-content-center align-items-center" style="height: 720px">
				<div id="reset-pass" class="d-block col-5">
						<h1 class="text-center">ENLACE INVÁLIDO, ESTE ENLACE YA HA SIDO UTILIZADO</h1>
				</div>
		</section>

	{% endif %}

{% endblock %}