{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reset{% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-login.jpg' %})" {% endblock %}
{% block content %}

    <section class="d-flex justify-content-center align-items-center" style="height: 720px">
        <div class="card border-dark mb-3 col-5">
            <div class="card-body">
                <h3 class="text-center">Te hemos enviado un correo con un enlace para reestablecer tu contraseña</h3S>
            </div>
        </div>
    </section>

{% endblock %}