{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reset{% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-login.jpg' %})" {% endblock %}

{% block content %}

<form method="post" class="d-flex justify-content-center align-items-center h-720" id="form_rest" style="height: 720px">
    {% csrf_token %}
    <div id="reset-pass" class="d-block col-5">
        <h3>Recuperar contraseña</h3>
        <label for="id_email">Correo:</label> 
        <input class="form-control" type="text" name="email">
        <input class="btn btn-light mt-3" type="submit"  value="Enviar">
    </div>
</form>

{% endblock %}