{% extends 'base/base.html' %}
{% load static %}

{% block title %}Registro{% endblock %}
{% block img_bg %} style="background-image:url({% static 'img/background/img-registro.jpg' %})" {% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<div id="form_wrap" class="bg-light">
  <form method="POST" class="" enctype="multipart/form-data">
    <div class="card border-dark mb-3">
      <div class="card-header">
        <h1 class="text-center pt-2">Registro Exitoso</h1>
      </div>
  </form>
</div>
{% endblock %}