{% extends 'base/base.html' %}
{% load static %}

{% block title %}Habitacion Editar{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block img_bg %} style="background-image:url({% static 'img/background/img-login.jpg' %})" {% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-sm-8 align-self-center text-center">  
        <section>
            <div class="card border-dark mb-3">
              <div class="card-header">
                <h1>Editar Habitacion</h1>
              </div>
              <div class="card-body">    
                <form method="POST" enctype="multipart/form-data" class="formulario">
                      <div class="formulario">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <a class="btn btn-dark" href="/habitacion/habitacion-listar/">volver</a>
                          <button class="btn btn-success" type="submit">Editar</button>
                      </div>
                  </form>
              </div>
            </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}