{% extends 'base/base.html' %}
{% load static %}

{% block title %}Habitacion Editar{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block img_bg %} style="background-image:url({% static 'img/background/img-login.jpg' %})" {% endblock %}

{% block content %}
<div id="form_wrap" class="bg-dark pt-5">
    <form method="POST" class="text-light" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="text-center pt-2">Editar Habitacion</h1>
        <div class="form-group p-5">
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Editar</button>
        </div>
    </form>
</div>
{% endblock %}